<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Describe Image App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- TODO -- Add my logo and links to my socials-->
    <!-- TODO Highlight mistakes -->
    <!-- TODO Responsive -->
    <!-- HEADER -->
    <header>
        <div class="header-logo"></div>
        <div class="container-header">
            <h1>English Image Practice</h1>
            <p>Look at the picture • Write in English • Get instant feedback</p>
        </div>
        <div class="header-sm"></div>
    </header>

    <main class="container-main">
        {% block content %}
            <!-- PAGE CONTENT -->
        {% endblock %}
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="container-footer">
            <p>&copy; <a href="https://english-with-ryan.com/about" target="_blank">Ryan Moore</a> • 2025 • Made for English learners</p>
            <p>Donate <a href="https://buymeacoffee.com/englishwithryanm" target="_blank">here</a></p>
        </div>
    </footer>

</body>
</html>